benchmarks          export-ignore
docker              export-ignore
resources           export-ignore
tests               export-ignore

benchmarks/ref.xml  merge=ours
.php_cs             export-ignore
composer.lock       merge=ours
docker-compose.yml  export-ignore
infection.json      export-ignore
LAST_COMMIT         export-subst
package-lock.json   export-ignore
phpbench.json       export-ignore
phpmetrics.json     export-ignore
phpstan.neon        export-ignore
phpunit.xml         export-ignore
