parameters:
    level: max
    tmpDir: tmp
    paths:
        - benchmarks
        - parsers
        - src
        - tests
    ignoreErrors:
        -
            message: '/Undefined variable: \$this/'
            paths:
                - src/combinators.php
                - src/parsers.php
        -
            message: '/Dynamic call to static method PHPUnit\\Framework\\TestCase::/'
            paths:
                - tests/unit/Parser/DebuggerTest.php
        -
            message: '/Dynamic call to static method PHPUnit\\Framework\\Assert::/'
            paths:
                - tests/unit/Parser/DebuggerTest.php
