<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         timeoutForSmallTests="1">
    <testsuites>
        <testsuite name="PPC">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="tmp/coverage"/>
        <log type="coverage-xml" target="tmp/coverage-xml"/>
        <log type="junit" target="tmp/junit.xml"/>
    </logging>
</phpunit>
